POSTGRES_USER=dagster
POSTGRES_PASSWORD=change-me
POSTGRES_DB=dagster
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

DAGSTER_HOME=/opt/dagster/dagster_home
DAGSTER_WEBSERVER_PORT=3000
DAGSTER_CODE_PORT=4000

